
{% if user.is_authenticated %}

You are log in as: {{ user.username }}

<a href="{% url 'createtodo' %}">Create</a>
<a href="{% url 'currenttodos' %}">Mine todos</a>
<a href="{% url 'donetodos' %}">Afsluttede</a>
<a href="{% url 'home' %}">Hjem</a>
<a href=""></a>



<form action="{% url 'logoutuser' %}" method='POST'><br>
  {% csrf_token %}
<button type="submit">Logout</button>
</form>

{% else %}
  {% csrf_token %}
  <a href="{% url 'signupuser' %}">signup</a>
  <a href="{% url 'loginuser' %}">Login</a>


{% endif %}




{%block content %}
{%endblock%}
