{% extends 'todo/base.html' %}

{% block content %}

{{ fejlmeddelelse }}

<h1>Viewtodo</h1>

<h1>Denne er afsluttet</h1>

<b>Oprettet: {{ todo.created }}<br>
<b>Afsluttet den:{{ todo.datecompleted }}</b><br>
<br>

<h2>{{ todo.title }}</h2>
{% if todo.datecompleted is None %}
<form method="POST">
{% csrf_token %}
{{form.as_p}}



<button type="submit">Gem</button>
</form>
<br>
<br>
<form method="POST" action="{% url 'completetodo' todo.id %}">
{% csrf_token %}
<button type="submit">Udført</button>
</form>
<br>
<form method="POST" action="{% url 'deletetodo' todo.id %}">
{% csrf_token %}
<button type="submit">Slet</button>
</form>

{% else %}

<form method="POST" action="{% url 'copytodo' todo.id %}">
  {% csrf_token %}
  {{form.as_p}}
<button type="submit">Kopier</button>
</form>

{% endif %}
{% endblock %}
